h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul,
p {
  padding-left: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  transition: color 250ms linear;
  font-size: 24px;
  font-weight: 500;
}

img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
}

main {
  padding: 10px;
}

button {
  padding: 5px 20px;
  height: 50px;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;

  background-color: transparent;
  color: currentColor;
  transition: color 250ms linear, border-color 250ms linear;
}

button:hover,
button:focus {
  color: orangered;
  border-color: orangered;
}